*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
}
body{
    min-height: 100svh;
    position: relative;
}
.app{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 9fr;
    min-height: inherit;
}
.app > header{
    grid-area: 1/1/1/3;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
}
.app > aside{
    grid-area: 2/1/3/2;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.app > aside > *{
    min-height: 35px;
    padding: 10px;
}
.app > aside > *{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
}
.app > section{
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
}
button{
    border: none;
    padding: 10px 20px 10px 20px;
    background-color: #00c8ff;
    cursor: pointer;
    font-weight: 500;
    border-radius: 6px;
}
button:hover{
    background-color: #0099ff;
}
.add-task-popup, .add-project-popup{
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.add-task-popup ul, .add-project-popup ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add-task-popup ul li, .add-project-popup ul li{
    display: flex;
    gap: 10px;
    align-items: center;
}
.add-task-popup ul li > label, .add-project-popup ul li > label{
    display: flex;
    align-items: center;
}
.add-task-popup ul li > :not(#is-done), .add-project-popup li > * {
    height: 35px;
    width: 50%;
}
.add-task-popup ul li:has(#is-done){
    justify-content: space-between;
}
input, select{
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: rgb(241, 241, 241);
    border-radius: 6px;
}
legend{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.hidden{
    display: none;
}
.close{
    align-self: flex-end;
}
.task-list{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.task-list > *{
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.task-list  .todo{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 6px;
}
button.close{
    background-color: transparent;
    border: 2px solid red;
    color: red;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button.delete{
    background-color: red;
    color: rgb(129, 0, 0);
}
.selected-project{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.todo{
    background-color: white;
}
.todo-buttons{
    display:  flex;
    gap: 10px;
    align-items: center;
    align-items: stretch;
}
.projects-header, .todo-header{
    font-weight: bold;
}
.todo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

aside .projects-header{
    padding: 0px;
}
.add-project, .add-task{
    font-size: 25px;
    padding: 2px 10px;
    border: 2px solid #b8b8b8;
    background-color: white;
    color: #b8b8b8;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.add-project:hover, .add-task:hover{
    background-color: white;
    color: #0095ff;
    border: 2px solid #0095ff;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.add-task-popup .add, .add-project-popup .add{
    margin-top: 20px;
}
.priority{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    width: 80px;
}
.low{
    border: 2px solid greenyellow;
    color: greenyellow;
}
.medium{
    border: 2px solid rgb(255, 196, 0);
    color: rgb(255, 196, 0);
}
.heigh{
    border: 2px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}
.todo-title{
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-style: italic;
    color: gray;
}
.todo-details{
    padding: 10px;
    transition: 0.2s;
    overflow: hidden;
}
.shown{
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.due-date{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}